body{
    background-color: rgb(155, 243, 243);
}
*{
    margin: 0;
    padding: 0;
}
.titl{
    width:100vw;
    height:5vh;
    /* border: 2px solid red; */
    text-align: center;
    color:rgb(105, 9, 41);
    font-size: 25px;
    margin-top:10px;
    text-decoration: underline red;
    font-style:bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.container{
    width: 203px;
    height: 344px;
    border:2px solid black;
    overflow: none;
    position: relative;
    top: 73px;
    left: 36vw;
    
}
.number{
    width: 47px;
    height: 55px;
    background-color: black;
    color:white;
   

}
#equal{
    width:47px;
    height:55px;
    display: relative;
}
.screen{
    width: 199px;
    height: 55px;
    color:rgb(105, 9, 41);
    background-color: aquamarine;
    border:2px solid navy;
    

}